.header{
    background-color:#1a73e8;
    color:white;
    text-align: center;
    padding-top: 10px;
}

img{
    height: 8.5em; 
}

.main-heading{
    font-size: 20px;
    max-width: 860px;
}

.heading-tag{
    font-size: 20px;
    opacity: 0.2px;
}