.login-heading{
    display: block;
    margin: auto;
    margin-top: 2%;
}
.login-form{
    width:25%;
    display: block;
    margin: auto;
    margin-top: 4%;
    border: 1px gray;
    box-shadow:  0px 0px 10px 1px gray;
    height: 250px;
    padding: 10px;
}
.label-name{
    font-size: 15px;
    font-weight: 500;
    display: flex;
}
.login-button{
    margin:5px;
    width: 25%;
    display: block;
    margin: 10px auto;
}
form{
    display: block;
    margin: auto;
}

.login-back-btn{
    border: hidden;
    text-decoration: underline;
}

.login-back-btn:hover {
    color: blue;
}

@media screen and (max-width: 400px){
    .login-form{
        width: 80%;
        height: 50%;
    }
}


